<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h3 class="center">
  On this page we can help us make this blog better. We wait your suggestions
</h3>
<p class="center orange">
  Your comments, wou can write for authorize across facebook, twitter and google account
</p>

<%= render 'shared/comment' %>