<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
<h3>If you dont know about home page, dont worry!</h3><br>
  <ul>
    <li><h4>
      <a href="https://ru.wikipedia.org/wiki/Ruby">Whats is ruby?</a>
    </h4></li>
    <li><h4>
      <a href="https://ru.wikipedia.org/wiki/Ruby_on_Rails">Whats is rails?</a>
    </h4></li>
    <li><h4>
      <a href="http://rusrails.ru/">Rusrails</a>
    </h4></li>
    <li class="orange center">This is a rails web-site
      <div>
        <iframe class="center" src="http://rubyonrails.org/" width="1000" height="500" align="left">
          Your browser not support iframe
        </iframe>
      </div>
    </li>
  </ul>
  <p class="orange">
    _________________If you have problem with us blog write comment, and we solve this problem.
    <%= link_to 'Comment work blog?', contact_path %>
  </p>
</p>

