<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
<h3>If you dont know about home page, dont worry!</h3><br>
  <ul>
    <li><h4>
      <a href="https://ru.wikipedia.org/wiki/Ruby">Whats is ruby?</a>
    </h4></li>
    <li><h4>
      <a href="https://ru.wikipedia.org/wiki/Rails">Whats is rails?</a>
    </h4></li>
    <li><h4>
      <a href="http://rusrails.ru/">Rusrails</a>
    </h4></li>
  </ul>
</p>

