<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <div>
          <img src="<%= avatar_for(@user)%>">
        </div>
        </br>
        <div>
          <%= @user.name %>
        </div>
      </h1>
    </section>
  </aside>
</div>