<h1>
  <% if object.image.nil? %>
    <div>
      <img src="<%= avatar_for(object)%>" class="img-circle">
    </div>
  <% else %>
    <div>
      <img src="<%= object.image %>" class="img-circle" width="150" height="150">
    </div>
  <% end %>
</h1>
<div class="center">
  <div>
    <h3>
      <%= object.name %>
    </h3>
  </div>
  <span>
    <h5 class="gray">
      <%= pluralize(object.microposts.count, "micropost") %>
    </h5>
  </span>
</div>
